:root {
  --background: #1e2124;
  --foreground: #36393e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1e2124;
}

.main-content {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}
