.counterContainer {
  background-color: #292b2f;
  color: #f9a51a;
  padding: 5px 10px;
  font-family: monospace;
  text-align: center;
  width: fit-content;
  margin: 10px auto;
}

.counterText {
  font-size: 0.8rem;
}

.counterNumber {
  font-weight: bold;
  color: #43b581;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .counterContainer {
    padding: 4px 8px;
  }

  .counterText {
    font-size: 0.7rem;
  }
}
