.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "MS Sans Serif", sans-serif;
}

.serverList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.serverItem {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #393c43;
  border: 2px solid #4F545C;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #b3b7bd;
  text-decoration: none;
}

.serverItem:hover {
  background-color: #6c81ca;
  color: #f3f0f0;
}

.serverItem:hover p {
  color: #1e2124;
}

.serverIcon {
  width: 40px;
  height: 40px;
  background-color: #0000a0;
  color: #36393e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-right: 10px;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.serverInfo h3 {
  margin: 0;
  font-size: 16px;
}

.serverInfo p {
  margin: 4px 0 0;
  font-size: 12px;
  color: #666666;
}
